body {
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgb(97, 97, 100) 0%, rgb(17, 18, 21) 100%);
}

.main-text {
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-indent: 25px;

}